#active__wrap {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;

    #active__title {
        position: absolute;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        text-align: center;

        h2 {
            text-transform: uppercase;
            font-family: var(--mainEn-font);
            font-size: 2vw;
            font-weight: lighter;
            font-size: 2vw;
            line-height: 1;
        }

        span {
            display: inline-block;
            margin-top: 1vh;
            text-transform: uppercase;
            font-family: var(--mainSub-font2);
            font-size: 1vw;
            letter-spacing: 1px;
            line-height: 1;
        }
    }

    #back_button {
        font-size: 1vw;
        font-family: var(--mainEn-font);
        margin: 1vw;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 10;

        &:hover {
            color: var(--white200);
        }
    }


.imgs {
    width: 100%;
    height: 100%;
    position: absolute;

    img {
        position: absolute;
    }

    &:nth-child(1) {
        filter: brightness(0.7);

        img {
            cursor: pointer;
            &.i01 {
                width: 200px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 5%;
                top: 20%;
            }

            &.i06 {
                width: 200px;
                height: 30vh;
                object-position: center;
                object-fit: cover;
                left: 2%;
                top: 60%;
            }

            &.i08 {
                width: 240px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 35%;
                top: 75%;
            }

            &.i10 {
                width: 200px;
                height: 20vh;
                object-position: center;
                object-fit: cover;
                left: 55%;
                top: 70%;
            }

            // &.i02 {
            //     width: 300px;
            //     height: 20vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 20%;
            //     top: 0%;
            // }

            // &.i03 {
            //     width: 225px;
            //     height: 25vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 40%;
            //     top: 10%;
            // }

            // &.i04 {
            //     width: 250px;
            //     height: 30vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 57%;
            //     top: 18%;
            // }
        }
    }

    &:nth-child(2) {
        filter: brightness(0.6);

        img {
            cursor: pointer;
            
            &.i02 {
                width: 300px;
                height: 20vh;
                object-position: center;
                object-fit: cover;
                left: 20%;
                top: 0%;
            }

            &.i04 {
                width: 250px;
                height: 30vh;
                object-position: center;
                object-fit: cover;
                left: 57%;
                top: 18%;
            }
            
            &.i12 {
                width: 250px;
                height: 20vh;
                object-position: center;
                object-fit: cover;
                left: 85%;
                top: 75%;
            }

            // &.i05 {
            //     width: 250px;
            //     height: 25vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 75%;
            //     top: 0%;
            // }

            // &.i06 {
            //     width: 200px;
            //     height: 30vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 2%;
            //     top: 60%;
            // }

            &.i07 {
                width: 180px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 20%;
                top: 50%;
            }

            // &.i08 {
            //     width: 240px;
            //     height: 25vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 35%;
            //     top: 75%;
            // }
        }
    }

    &:nth-child(3) {
        filter: brightness(0.5);

        img {
            cursor: pointer;

            &.i03 {
                width: 225px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 40%;
                top: 10%;
            }

            &.i05 {
                width: 250px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 75%;
                top: 0%;
            }

            &.i09 {
                width: 150px;
                height: 25vh;
                object-position: center;
                object-fit: cover;
                left: 90%;
                top: 10%;
            }

            // &.i10 {
            //     width: 200px;
            //     height: 20vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 55%;
            //     top: 70%;
            // }

            &.i11 {
                width: 180px;
                height: 30vh;
                object-position: center;
                object-fit: cover;
                left: 72%;
                top: 50%;
            }

            // &.i12 {
            //     width: 250px;
            //     height: 20vh;
            //     object-position: center;
            //     object-fit: cover;
            //     left: 85%;
            //     top: 75%;
            // }
        }
    }
}
}